.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* 이걸 써줘야만 scroll이 발생해도 이상해지지 않음 */
  min-height: 0;
  background-color: var(--color-bg);
}

.list {
  flex: 1 1 auto;
  overflow-y: auto;
}
