.form {
  width: 100%;
  display: flex;
  padding: 1.2rem 1rem;
  background-color: var(--color-bg-dark);
}

.input {
  flex: 1 0 auto;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.button {
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  /* color: white; */
}

.button:hover {
  filter: brightness(125%);
}
